html {
  overflow-y: scroll;
  font-family: "Pixelify Sans", cursive;
  scroll-behavior: smooth;
}

body {
  background-image: url("assets/saway.jpeg");
  background-attachment: fixed;
  background-size: 100vw auto;
  background-position: center;
}

.navigator {
  position: fixed;
  background-color: teal;
  left: -7%;
  top: 0;
  bottom: 0;
  width: 9%;
  transition: 0.3s;
}

.navigator:hover{
  left: 0;
}

.nav_div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.nav_item {
  text-decoration: none;
  color: white;
}

.about {
  position: absolute;
  text-align: center;
  color: white;
  background-color: #A6CDE7;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}