/*GENERAL*/

@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  font-family: "Pixelify Sans", cursive;
  background-attachment: fixed;
  background-size: 100vw auto;
  background-position: center;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

a,
.btn {
  transition: all 300ms ease;
}

/*NAVIGATOR*/

.navigator {
  position: fixed;
  top: 35vh;
}

.theme_image{
  position: fixed;
  height: 4rem;
}

.theme_image:hover{
  cursor: pointer;
}

.nav_links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: none;
  position: fixed;
  left: -19vh;
  width: 17vh;
  z-index: 100;
  transition: all 500ms ease;
  background-color: rgb(91, 209, 209);
  border-radius: 0 15% 15% 0;
  padding: 3vh;
}

.nav_links:hover {
  left: 0;
}

/*HAMBURGER MENU*/

#hamburger_nav {
  display: none;
}

.hamburger_menu {
  position: relative;
  display: inline-block;
}

.hamburger_icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 32px;
  cursor: pointer;
}

.hamburger_icon span {
  width: 100%;
  height: 2px;
  transition: all 0.3 ease-in-out;
  background-color: black;
}

.menu_links {
  position: absolute;
  top: 100%;
  right: 0;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu_links a {
  display: block;
  align-items: center;
  padding: 10px;
  transition: all 0.3 ease-in-out;
}

.nav_item{
  color: white;
}

.menu_links li {
  list-style: none;
}

.menu_links.open {
  max-height: 300px;
}

.hamburger_icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger_icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger_icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger_icon span:first-child {
  transform: none;
}

.hamburger_icon span:nth-child(2) {
  opacity: 1;
}

.hamburger_icon span:last-child {
  transform: none;
}

/*SECTIONS*/

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/*ABOUT SECTION*/
#about {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 100vh;
  background-image: url("./assets/profile_pic.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  min-width: 550px;
}

.about_div {
  align-self: center;
  text-align: center;
  padding: 5vh;
}

.socials_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icon_social {
  cursor: pointer;
  height: 2rem;
  border-radius: 50%;
  background-color: rgb(63, 231, 217);
}

.icon_social:hover {
  background-color: rgb(255, 168, 110);
  transition: all 300ms ease;
}

.btn_container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.cv_btn,
.contact_btn {
  border: black 0.1rem solid;
  padding: 1rem;
  border-radius: 2rem;
  width: 7rem;
  font-family: "Pixelify Sans", cursive;
  font-weight: 600;
  transition: all 300ms ease;
}

.cv_btn:hover,
.contact_btn:hover {
  cursor: pointer;
  background-color: rgb(53, 53, 53);
  color: white;
  border: white 0.1rem solid;
}

/*EXPERIENCE & WORK SECTION */

#experiencenwork {
  height: 100vh;
  position: relative;
}

.headers_div {
  display: flex;
  margin-top: 4rem;
  gap: 2.5rem;
}

.experience_header_text,
.works_header_text {
  display: flex;
}

.experience_header_div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.works_header_div {
  display: flex;
  align-items: center;
  justify-content: start;
  flex: 1;
}

.experiencenwork_div {
  display: flex;
  gap: 2.5rem;
  margin-top: -4.5rem;
}

.experience_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  height: 100vh;
}

.experience_elements_div {
  display: flex;
  gap: 1rem;
}

.element_div {
  border: rgb(186, 186, 186) 0.1rem solid;
  border-radius: 2rem;
  padding: 1.5rem;
  width: 120px;
  background-color: rgb(235, 255, 235);
}

.works_div {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.works_image {
  height: 3rem;
}

.works_container_div {
  display: flex;
  gap: 1rem;
}

.work_element {
  width: 27vh;
  height: 47vh;
  border: rgb(186, 186, 186) 0.1rem solid;
  border-radius: 2rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 250, 242);
}

.works_button {
  border: black 0.1rem solid;
  padding: 1rem;
  border-radius: 2rem;
  width: 7rem;
  font-family: "Pixelify Sans", cursive;
  font-weight: 600;
  transition: all 300ms ease;
}

.works_button:hover {
  cursor: pointer;
  background-color: rgb(53, 53, 53);
  color: white;
  border: white 0.1rem solid;
}

/*CONTACT SECTION*/

#contact {
  height: 100vh;
  position: relative;
}

.contact_div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.contact_details {
  display: flex;
  gap: 2rem;
}

.contact_element {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contact_image {
  height: 2rem;
  border-radius: 50%;
}

.mail {
  height: 2.5rem;
  background-color: bisque;
}

.github {
  background-color: aquamarine;
}

.linkedin {
  background-color: rgb(222, 187, 255);
}